<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Create Poll</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <nav class="navbar-home">
      <ul>
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/createteam">Create Team</a></li>
        <li><a href="/createdpolls">My Polls</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </nav>
    <nav class="navbar-viewpolls">
      <ul>
        <li><a class="navbar2-elements" href='/viewpoll/<%= team %>'>View Polls</a></li>
        <li><a class="active-home navbar2-elements" href='/createpoll/<%= team %>'>Create Poll</a></li>
        <li><a class="navbar2-elements" href='/addmember/<%= team %>'>Add Member</a></li>
        <li><a class="navbar2-elements" href='/addadmin/<%= team %>'>Add Admin</a></li>
        <li><a class="navbar2-elements" href='/'>Back</a></li>
      </ul>
    </nav>
    <h1><%= team %></h1>
    <h1>Create Poll</h1>
    <form class="" action='/createpoll/<%= team %>' method="post">
      <div class="input-createpoll">
        <label class="questionlabel-createpoll" for="question">Question</label>
        <input type="text" name="question" value="">
      </div>
      <div class="input-createpoll">
        <label class="optionslabel-createpoll" for="action">Options</label>
        <button type="submit" name="action" value="add">+</button>
      </div>
      <div class="">
        <% for(let i=0; i<n; i++) { %>
          <input class="optionsinput-createpoll input-createpoll" type="text" name="options[<%= i %>]" value="">
        <% } %>
      </div>
      <button class="button-createpoll input-createpoll" type="submit" name="button">Create Poll</button>
    </form>
  </body>
</html>
