<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Created Polls</title>
  </head>
  <body>
    <a href="/">Home</a>
    <a href="/createteam">Create Team</a>
    <a href="/logout">Logout</a>
    <h1>Created Polls</h1>
    <form class="" action="/createdpolls" method="post">
      <% for(let i=0; i<docs.polls.length; i++) { %>
        <h2><%= docs.polls[i].question %></h2>
        <% let property = (docs.polls[i].active ? 'visible' : 'hidden') %>
        <button type="submit" name="action" value="<%= i %>" style="visibility:<%= property %>">End Poll</button>
        <% let total = 0; %>
        <% for(let k=0; k<docs.polls[i].options.length; k++) { %>
          <% total += docs.polls[i].options[k].votes; %>
        <% }; %>
        <% for(let j=0; j<docs.polls[i].options.length; j++) { %>
          <p><%= docs.polls[i].options[j].option %><p>
            <p><%= ((docs.polls[i].options[j].votes)/total)*100 %>%</p>
        <% } %>
      <% } %>
    </form>
  </body>
</html>
