<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>View Poll</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <nav class="navbar-home">
      <ul>
        <li><a class="active" href="/">Home</a></li>
        <li><a href="/createteam">Create Team</a></li>
        <li><a href="/createdpolls">My Polls</a></li>
        <li><a href="/logout">Logout</a></li>
      </ul>
    </nav>
    <nav class="navbar-viewpolls">
      <ul>
        <li><a class="active-home navbar2-elements" href='/viewpoll/<%= teamname %>'>View Polls</a></li>
        <li><a class="navbar2-elements" href='/createpoll/<%= teamname %>'>Create Poll</a></li>
        <li><a class="navbar2-elements" href='/addmember/<%= teamname %>'>Add Member</a></li>
        <li><a class="navbar2-elements" href='/addadmin/<%= teamname %>'>Add Admin</a></li>
        <li><a class="navbar2-elements" href='/'>Back</a></li>
      </ul>
    </nav>
    <h1><%= teamname %></h1>
    <h1>View Poll</h1>
    <form class="" action="/viewpoll/<%= teamname %>" method="post">
      <% for(let i=0; i<docs.length; i++) { %>
          <h2><%= docs[i].question %></h2>
          <% for(let j=0; j<docs[i].options.length; j++) { %>
            <p><%= docs[i].options[j].option %></p>
            <button type="submit" name="action" value="<%= docs[i]._id %><%= j %>">Vote</button>
          <% } %>
      <% } %>
    </form>
  </body>
</html>
